* {
  left: 0px;
  top: 0px;
  font-family: 'Inter';
}

body {
  font-family: 'Inter';
  background-color: #f7f0e9;
}

header {
  padding: 10px;
  color: white;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-inline {
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.navbar-brand h1 {
  color: #A97B47;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  margin: 0;
}


  
  form {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

 
  
  .form-control {
    background-color: #F7F0E9 !important;
    width: 700px;
    height: 68px;
    margin-right: 20px;

  }
  
  .form-options {
    background-color: #D8C1A8 !important;
    background: #D8C1A8;
    mix-blend-mode: normal;
    border-radius: 15px;
    margin-right: 20px;

  }

  .input-group {
    display: flex;
    align-items: center;
    position: relative; /* make the container relative */
    margin-right: 25em;
  }
  
  .input-group img {
    padding-right: 20px;
    width: 40px;
    height: 40px;
    
  }
  
  .navbar input[type="search"] {
    padding-right: 40px; 
    position: relative; 
    z-index: 2; 
  }
  

  
  
  .register-section, .login-section {
    background-color: #F7F0E9 !important;
    color: #A97B47 !important; 
    font-style: normal !important;
    border-radius: 15px !important;
    margin-left: 20px ;
 
  }
  
  
  select {
    width: 150px;
  }

  

  .btn-outline-success {
    color: #f7f0e9; /* Changed search button text color */
  }
  
  .btn-outline-success::before {
    content: url('https://img.icons8.com/material-outlined/24/000000/search--v1.png'); /* Added magnifier icon to search button */
    margin-right: 5px;
  }
  
  .btn-outline-secondary,
  .btn-outline-primary {
    color: #a97b47; /* Changed color of login and register buttons */
  }
  
  .commodities {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .section {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #F7F0E9;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    width:80%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .section h2{
    color: #593C1C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
  }
  
  .commodities-toggle label {
    margin: 0;
  }
  
  .commodities-toggle .form-check-input:checked + .form-check-label {
    background-color: #A97B47;
  }
  
  .sort-options label {
    font-weight: bold;
    margin-right: 10px;
    color: #593C1C;
  }
  
  .sort-button{
    border: none;
    background-color: transparent;
    border-radius: 15px;
    color: #919191;
  }
  .sort-button:active, .sort-button:focus {
    background-color: #A97B47;
    border-radius: 15px;
    color: #FFFFFF;
    width: 69px;
height: 34px;
line-height: 34px;
  }
  
  .commodities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .commodity {  
    width: 250px;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    padding: 10px;
    
  }
  
  .commodity img {
    width: 100%;
  }
  
  .commodity h2 {
    color: #593C1C;
  }
  .commodity h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  .commodity p {
    font-weight: bold;
    margin-bottom: 10px;
    color: #C82525;
  }
  
  .price{
    color: #593C1C !important;
    display: inline;

  }

  .commodity button {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #593C1C;
    border-radius: 15px;
    margin-left: 40%;

  }
  
  footer {
    font-family: 'Inter';
    background-color: #593c1c;
    padding: 10px;
    color: white;
    text-align: center;
    height: 60px;
  }
  