body {
    background-color: #F7F0E9;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation-name: slideInUp;
    animation-duration: 1s;
    
  }

  .card-header {
    border-radius: 10px 10px 0 0;
    background-color: #593C1C;
    color: #fff;
    animation-name: fadeInLeft;
    animation-duration: 1s;

  }
  .card-header h4{
    margin-left: 20px;
    display: inline;
  }
  .logo-sign{
    width:3rem;
    height: 3rem;
    display: inline;
  }
  
  .card-footer {
    border-radius: 0 0 10px 10px;
    background-color: #593C1C;
    color: #fff;
    animation-name: fadeInRight;
    animation-duration: 1s;
  }
  
  .btn-primary {
    background-color: #593C1C;
    border-color: #a97b47;
    animation-name: fadeInRight;
    animation-duration: 1s;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #a97b47;
    border-color: #593C1C;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  
  .text-primary {
    color: #fff;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #fff;
  }
  
  @keyframes slideInUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
  
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  @keyframes fadeInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes fadeInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  /* Additional styles for sign up form */
  
  .signup-form {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation-name: slideInUp;
    animation-duration: 1s;
  }
  
  .signup-form-header {
    border-radius: 10px 10px 0 0;
    background-color: #A97B47;
    color: #fff;
    animation-name: fadeInLeft;
    animation-duration: 1s;
  }
  
  .signup-form-footer {
    border-radius: 0 0 10px 10px;
    background-color: #A97B47;
    color: #fff;
    animation-name: fadeInRight;
    animation-duration: 1s;
  }
  
  .signup-form-label {
    color: #909090;
  }
  
  .signup-form-submit-btn {
    background-color: #C82525;
    border-color: #C82525;
  }
  
  .signup-form-submit-btn:hover {
    background-color: #A31717;
    border-color: #A31717;
  }

  .text-center a{
    color: #a97b47;
  }
